* {
  font-family: Monaco;
  background-color: #EDEFEE;
}

header >img{
  display: grid;
  margin: auto;
  width: auto;
  max-width: 100rem;
  height: 20vh;
}

#root{
  width: 100vw !important;
}

nav > li{
  background-color: #333333;
  padding: 15px;
  display: grid; 
  grid-template-columns: auto auto auto auto auto; 
  justify-content: center;
  margin-left: auto !important;
  margin-right: auto !important;
  margin-top: 20px !important;
}

main > .ctc{
  display: grid; 
  padding: 15px;
  grid-template-columns: 1fr fr; 
  justify-content: center;
  background: url("./assets/food-off.avif");
  background-size: cover;
  background-position: 0%;
  background-repeat: no-repeat;
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.2);
  height: 15vh;
  margin-left: auto !important;
  margin-right: auto !important;
  margin-top: 20px !important;
  width: 80vw;
}

.ctc > h1, .ctc > p{
  background: none;
  color: white;
  margin-left: 2vw;
}

nav > li{
  border-radius: 10px;
  width: 90vw;
}

nav > li{
  list-style: none
}
nav > li, nav > li > ul {
  background-color: #333333;
}

nav > li > ul > a{
  background-color: #333333;
  color: #ffff;
  text-decoration: none;
  margin: auto 10px auto auto;
  font-size: 18px;
}

footer {
  position:absolute;
  bottom:0;
  width:100%;
  height:60px;
  display: grid; 
  grid-template-columns: 1fr 1fr; 
  justify-content: start;
}

footer img{
  width: 30vh;
}

footer p {
  border-top: 1px solid grey;
  padding-top: 5px;
}

@media (max-width: 650px) {
  #root{
    width: fit-content !important;
  }
  
  }

@media (max-width: 400px) {
  nav > li, footer, .ctc{
    grid-template-columns: auto; 
  }

  }