* {
  font-family: Monaco;
  background-color: #EDEFEE;
}

header >img{
  display: grid;
  margin: auto;
  width: auto;
  max-width: 100rem;
  height: 20vh;
}

nav > li{
  background-color: #333333;
  padding: 15px;
  display: grid; 
  grid-template-columns: auto auto auto auto; 
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px !important;
}

nav > li{
  border-radius: 10px;
  width: 90vw;
}

nav > li{
  list-style: none
}
nav > li, nav > li > ul {
  background-color: #333333;
}

nav > li > ul > a{
  background-color: #333333;
  color: #ffff;
  text-decoration: none;
  margin: auto 10px auto auto;
  font-size: 18px;
}

@media (max-width: 400px) {
  nav{
    grid-template-columns: auto; 
  }
  
  }

footer {
  position:absolute;
  bottom:0;
  width:100%;
  height:60px;
  display: grid; 
  grid-template-columns: 1fr 1fr; 
  justify-content: start;
}

footer img{
  width: 30vh;
}

footer p {
  border-top: 1px solid grey;
  padding-top: 5px;
}